.submitButton {
    background-color: #0052cc;

    color: #ffffff;
    font-size: 18px;
    padding: 10px 20px;

    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;

    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin-top: 20px;
}

.header {
    font-size: 24px;
    color: #333;
    font-weight: 600;
    margin-bottom: 1px;
    margin-top: 20px;
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

.submitButton:hover {
    background-color: #003ea0;
}

.surveyContainer {
    margin-left: 55px;
    margin-top: 20px;
    margin-bottom: 120px;
}